table {
    border: 1px solid;
    table-layout: fixed;
    /* width: 75.6px;
    height: 75.6px; */
    width: 2cm;
    height: 2cm;
    border-spacing: 0px 0px;
}
td {
    text-align: center;
}
button.letter {
    border: none;
    background-color: silver;
}
button.lower {
    width: 100%;
    text-align: center;
    padding: 0px;
}
td.letters{
    font-size: small;
}