table {
    border: 1px solid;
    table-layout: fixed;
    /* width: 75.6px;
    height: 75.6px; */
    width: 2cm;
    height: 2cm;
    border-spacing: 0px 0px;
    padding: 0px;
}
canvas.emoji {
    border: 1px solid;
    position: relative;
    /* width: 75.6px;
    height: 75.6px; */
    width: 2cm;
    height: 1.5cm;
    max-width: 2cm;
}
div.emoji {
    border: 1px solid;
    width: 2cm;
    height: 2cm;
    padding: 0px;
    max-width: 2cm;
    position: relative;
}
td {
    text-align: center;
}
button.letter {
    border: none;
    background-color: silver;
}
button.btn {
    width: 100%;
    text-align: center;
    padding: 0px;
}
/* button.E {
    position: relative;
    width: 100%;
    max-width: 2cm;
} */
button.E {
    width: 50%;
    text-align: center;
    padding: 0px;
}
button.H {
    width: 50%;
    text-align: center;
    padding: 0px;
    top: 0px;
    right: 0px;
    position: absolute;
}
td.letters{
    font-size: small;
}